.cartel {
    width: 250px;
    height: 150px;
    background-color: cadetblue;
    color: whitesmoke;
    font-size: 1.5rem;
    font-weight: 700;
    text-align: center;
    /* line-height: 150px; */

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.error {
    background-color: red;
}